html, body, #root, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}



* {
  box-sizing: border-box;
}

canvas {
  height: 100vh;
  background: linear-gradient(180deg, #d1d3d6 0%, #f6f6f6 80%);
}